
.grid-container {
  display: grid;
  /* We need to set rules for our columns and rows */
  /* fr = fraction */
  /*
  So this would mean, 3 columns that are a equal fraction of the parent
  So something like, 33.333% 33.333% 33.333%
  */
  /* These rules have no meaning, without display: grid  */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid-child {
  min-height: 250px;
  border: 1px solid black;
}

#special {
  background-color: tomato;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
