
body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* This is our selector */

/*
This is essentially the same
#primary-container
section#primary-container
*/

section#primary-container {
  /* Everything in the curly brackets are our rules/styles */
  /* Width values are always in relation to their parent! */
  width: 1200px;
  /* Maybe this should be centered */
  /* 0 = top/bottom, auto = left/right style */
  margin: 0 auto;

  /* margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto; */

  border: 1px solid blue;
}

/*

.mobile { }
...
div.mobile { }
section.mobile { }

*/

.mobile {
  background-color: green;
  color: white;
}

.hidden {
  display: none;
}

/* This is a media query  */
/* These are conditions */
@media only screen and (min-width: 321px) and (max-width: 600px) {
  /* These styles apply when the conditions are met */

  section#primary-container {
    width: 600px;
    font-family: Helvetica, sans-serif;
  }

  .hidden {
    display: block;
  }

  .mobile {
    font-size: 36px;
  }


}
